(require '[clj-http.client :as client]
         '[cheshire.core :as json])

(let [host "0.0.0.0"
  iport 5555
  wsPort 5556]
  (tcp-server {:host host :port iport})
  (ws-server  {:host host :port wsPort})
)

(instrumentation {:enabled? false})

(periodically-expire 5)

(defn alert [event & [options]]
  (client/post "http://events.wth.services/event" {:form-params (merge event options) :content-type :json})
)

(let [index (default :ttl 120 (index))]

  (streams
    index)

  

  (streams
    (where (and (service "graphite") (state "critical"))
    (stable 300 :state
      #(alert %))
)
  )

  

  (streams
    (expired (by :host (throttle 1 300 #(alert %))))
  )

  

  (streams
    (where (service "test")
  #(alert %)
)
  )

  

)