.container

    .panel.panel-default
        .panel-heading
            | Configs
            a.btn.btn-primary.btn-xs.pull-right(ui-sref="home") Create new
            .clearfix

        .panel-body

            table.table.table-striped.table-condensed
                tr(ng-repeat="c in configs")
                    td {{ c.description }}
                    td {{ c.contact }}
                    td
                        pre {{ c.entry }}
                    td
                        button.btn.btn-xs.btn-danger(ng-click="deleteConfig(c.id)") Delete


    .panel.panel-default
        .panel-heading Build riemann config
        .panel-body

            p
                | This will build a full riemann config and deploy it to :5555.
                | Any alert call will send events to
                = " "
                a(href="http://events.hmp.tableausandbox.com/#/") events.hmp.tableausandbox
                = ". "
                | You can create alerting rules there.
            button.btn.btn-success(ng-click="buildFullConfig()") Build riemann config




